@charset "UTF-8";



 
.container .msg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: -15px;
	margin: auto;
	font-size: 0.5rem;
	color: red;
	padding-left: 15px;
}


.banner1{
	border : 1px solid gray;
	height :300px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.banner2{
	border : 1px solid gray;
	height : 400px;
	margin-bottom : 10px;
	 
}
.banner2>.items{
	
}
.banner2>.items>.item{
	
}



