<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>LOGIN</h1>
<form action="/login" method="post">
  ID : <input name="username"><br/>
  PW : <input name="password" type="password"><br/>

    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="remember-me"/>
            <label class="form-check-label" for="rememberMe">로그인 상태를 유지</label>
        </div>
    </div>

  <input type="submit" />
</form>
<a href="/join">회원가입</a>

<div th:text="${msg}"></div>
<div th:text="${param.error}"></div>
<div th:text="${param.msg}"></div>
</body>
</html>