@charset "UTF-8";

.container{
	width : 500px; margin:100px auto; text-align:center; position:relative;
}

.container *{margin-bottom:0px;}

.container h1{
	margin-bottom : 15px;
}

.container .msg{ position:absolute;left:0px;right:0px;top:-15px; margin:auto; font-size:0.5rem; color:red; padding-left:15px;}

.container input
{
	border-radius:0px;
	margin-bottom:10px;
}
.container .btn{
	border-radius:0px;
}

.container .btn-group>*{
	margin : 0 10px;
}

