<!DOCTYPE html>
<html lang="en" xmlns:th="" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- th:fragment     -->
    <th:block th:insert="~{fragments/head :: headCdns}"   />

    <!-- common.css    -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- /imageboard/add.css -->
    <link rel="stylesheet" href="/css/imageboard/list.css">

</head>
<body>


<div class="wrapper">

    <!--    header  -->
    <th:block th:insert="~{fragments/header ::headerFragment}" />

    <main class="container-xxl">
        <section class="row">
            <!-- aside -->

            <!-- contents -->
            <div class="col"  >

                <!-- breadcrumb -->
                <nav style="--bs-breadcrumb-divider: '>'; " aria-label="breadcrumb" >
                    <ol class="breadcrumb mt-2">
                        <li class="breadcrumb-item"><a href="#">HOME</a></li>
                        <li class="breadcrumb-item"><a href="#">IMAGEBOARD</a></li>
                        <li class="breadcrumb-item active" aria-current="page">LIST</li>
                    </ol>
                    <div>
                            <span>필터</span>
                            <span>정렬기준</span>
                    </div>
                </nav>


                <div>
                    <div class="board-header" >
                        <!-- title -->
                        <h5>PRODUCT LIST</h5>
                    </div>
                    <div class="board-body" >

                        <!-- body -->
                        <div class="items">


                            <!--card item-->
                                <div class="card" style="width:300px;height:300px;;" th:each="imageBoard,i: ${list}">

                                    <div class="">
                                        <img th:src="@{'/imageboard'+'/'+${imageBoard.seller}+'/'+${imageBoard.category}+'/'+${imageBoard.id}+'/s_'+${imageBoard.files.get(0)}}" class="card-img-top" alt="...">
                                    </div>

                                    <div class="">
                                        <h5 class="card-title" th:text="${imageBoard.productname}"> </h5>
                                        <div class="card-text" style="text-align:center;font-size:0.8rem" th:text="${imageBoard.seller}"></div>
                                        <div class="card-text" style="text-align:right;font-size:0.8rem" th:text="${imageBoard.brandname}"></div>

                                        <div class="card-text" style="text-align:right;font-size:0.8rem" th:text="${imageBoard.itemdetals}"></div>
                                        <div style="text-align:right;">
                                            <span class="material-symbols-outlined">favorite</span>
                                            <span class="material-symbols-outlined">sentiment_dissatisfied</span>
                                        </div>
                                        <a th:href="@{/imageboard/read(id=${imageBoard.id})}" class="btn btn-success w-100">상세보기</a>
                                    </div>

                                </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>






        <section class="">



        </section>
        <section></section>
    </main>
    <!--  footer fragment      -->
<!--    <div th:replace="fragments/footer :: footerFragment" />-->

</div>




<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- common.js   -->
<script src="/js/common.js"></script>

</body>
</html>